<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Full Stack</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/custom.css" rel="stylesheet" type="text/css" media="all" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Angular -->
        
        <script src="https://malsup.github.com/jquery.form.js"></script>
        <script src="/admin/angular/thirdparty/fileupload/angular-file-upload-shim.js"></script>
        <script src="/admin/bower_components/angular/angular.js"></script>
        <script src="/admin/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/admin/angular/thirdparty/fileupload/angular-file-upload.js"></script>
        <script src="/admin/bower_components/angular-resource/angular-resource.js"></script>
        
        <script src='/admin/angular/app.js'></script>
        <script src='/admin/angular/services/restService.js'></script>
        <script src='/admin/angular/services/accountService.js'></script>
        <script src='/admin/angular/services/uploadService.js'></script>
        <script src='/admin/angular/services/generalService.js'></script>
        <script src='/admin/angular/controllers/duplicates.js'></script>
        <script src='/admin/angular/controllers/email.js'></script>
        <script src='/admin/angular/controllers/course.js'></script>
        <script src='/admin/angular/controllers/eventlist.js'></script>
        <script src='/admin/angular/controllers/courselist.js'></script>
        <script src='/admin/angular/controllers/scrape.js'></script>
        <script src='/admin/angular/controllers/series.js'></script>
        <script src='/admin/angular/controllers/project.js'></script>
    </head>
	
    <body ng-app="FullStack360Admin" ng-controller="EmailController" ng-init="init()">
		{{>login}}
		
	    {{>nav}}
		
		
        <div class="main-container">
		
		  <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Email</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">Forum</a></li>
                                <li class="active">Post</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
					
			
            <section style="border-top:1px solid #ddd">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 mb-xs-24">
                            <textarea ng-model="recipientsString" rows="3" placeholder="Emails"></textarea>
                            <select ng-model="emailTemplate">
                                <option value="workshop">Workshop</option>
                                <option value="general">General</option>
                                <option value="personal">Personal</option>
                            </select>
                            <button ng-click="sendEmail()" style="background:#fff;border-radius:22px" class="btn btn-large">Send Email</button>
							<br /><br />
                            <hr>
							
                        </div>
                        <!--end of nine col-->
						
                        <div class="col-md-3 hidden-sm">
							
                            <div class="widget">
                                <h6 class="title">Workshops</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="/#workshops">MEAN Stack Demo</a>
                                        <span class="date">Sept 12, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">iOS Demo</a>
                                        <span class="date">Sept 19, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">Node JS Crashcourse</a>
                                        <span class="date">Sept 26-27, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">iOS Crashcourse</a>
                                        <span class="date">Sept 26-27, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">8-Week Node JS Course</a>
                                        <span class="date">Oct 06, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">8-Week iOS Course</a>
                                        <span class="date">Oct 05, 2015</span>
                                    </li>
									
                                </ul>
                            </div>
                            <!--end of widget-->
							
							
                        </div>
                        <!--end of sidebar-->
                    </div>
                    <!--end of container row-->
                </div>
                <!--end of container-->
            </section>
			
			{{>footer}}


        </div>
		
		{{>scripts}}
		
    </body>
</html>