<!doctype html>
<html lang="en" ng-app="FullStack360Admin">
    <head>
        <meta charset="utf-8">
        <title>The Full Stack</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/admin/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Angular -->
        
        <script src="https://malsup.github.com/jquery.form.js"></script>
        <script src="/admin/angular/thirdparty/fileupload/angular-file-upload-shim.js"></script>
        <script src="/admin/bower_components/angular/angular.js"></script>
        <script src="/admin/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/admin/angular/thirdparty/fileupload/angular-file-upload.js"></script>
        <script src="/admin/bower_components/angular-resource/angular-resource.js"></script>
        
        <script src='/admin/angular/app.js'></script>
        <script src='/admin/angular/services/restService.js'></script>
        <script src='/admin/angular/services/accountService.js'></script>
        <script src='/admin/angular/services/uploadService.js'></script>
        <script src='/admin/angular/services/generalService.js'></script>
        <script src='/admin/angular/controllers/duplicates.js'></script>
        <script src='/admin/angular/controllers/email.js'></script>
        <script src='/admin/angular/controllers/course.js'></script>
        <script src='/admin/angular/controllers/courselist.js'></script>
        <script src='/admin/angular/controllers/eventlist.js'></script>
        <script src='/admin/angular/controllers/scrape.js'></script>
        <script src='/admin/angular/controllers/series.js'></script>
        <script src='/admin/angular/controllers/project.js'></script>
        
    </head>
    
    <body ng-controller="ProjectController" ng-init="init()">
        {{>login}}
        {{>nav}}
        
        
        <div class="main-container">
        
          <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); top: -100px; background: url('/site/img/cover12.jpg');">
                    <img alt="Background Image" class="background-image" src="/site/img/cover12.jpg" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Projects</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">Forum</a></li>
                                <li class="active">Post</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
                    
            
            <section style="border-top:1px solid #ddd">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 mb-xs-24">
                            <h3>Projects</h3>
                            
                        </div>




                        <div class="col-md-8 mb-xs-24">
                            <h3>Create Project</h3>

                            <input ng-model="project.title" type="text" placeholder="Title" class="form-control" />
                            <input ng-model="project.price" type="text" placeholder="Price" class="form-control mt24" />
                            <input ng-model="project.tagString" type="text" placeholder="Tags" class="form-control mt24" />
                            <input ng-model="project.link" type="text" placeholder="Link" class="form-control mt24" />
                            <select ng-model="project.level">
                                <option value="beginner">Beginner</option>
                                <option value="intermediate">Intermediate</option>
                            </select>
                            <textarea ng-model="project.description" rows="6" placeholder="Description"></textarea>

                            <div style="border:1px solid #ddd;height:96px;background:#f9f9f9;padding:12px;color:#777" ng-file-drop="uploadImage($files)">
                                <img style="width:72px;border:1px solid #ddd" ng-show="project.image.length > 0" ng-src="https://media-service.appspot.com/site/images/<% project.image %>?crop=360" />
                                Drag &amp; drop image
                            </div>

                            <br />
                            <h4>Units</h4>


                            <button ng-click="createProject()" style="background:#fff;border-radius:22px" class="btn btn-large">Create Project</button>
                            

                        </div>

                        
                    </div>
                    <!--end of container row-->
                </div>
                <!--end of container-->
            </section>
            
            {{>footer}}


        </div>
        
        
    </body>
</html>