<div class="col-md-6">
    <div class="box_style_3" id="general_facilities">
        <h3>Basic Membership</h3>
        <p style="margin-top:12px;padding-top:12px;border-top:1px solid #ddd">
            Join as a basic member to gain access to the free tutorials, get notifications when 
            new tutorials and courses are published, and participate in the Q&amp;A forums.
        </p>
        <input style="margin-top:12px" onChange="updateVisitor(event)" class="form-control" type="text" id="username" placeholder="Username" />
        <input style="margin-top:12px" onChange="updateVisitor(event)" class="form-control" type="text" id="email" placeholder="Email" />
        <button style="height:36px;border-radius:18px;margin-top:12px" onClick="register(event, 'basic')" class="btn_1 white">Subscribe</button>
    </div>
</div>