    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learn Full Stack React, Redux and Node through project based tutorials">
    <meta name="author" content="Velocity 360">
    <title>{{ tags.title }} | Velocity 360</title>

    <meta property="og:title" content="{{ tags.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ tags.url }}" />
    <meta property="og:image" content="{{ tags.image }}" />
    <meta property="og:width" content="260px" />
    <meta property="og:height" content="260px" />
    <meta property="og:description" content="{{ tags.description }}" />

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One:300,400,500,600,700|Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/dist/css/style.min.css">
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->