<header>
    <div class="container">
        <div class="row">
            <div class="col--md-3 col-sm-3 col-xs-3">
                <a href="/" id="logo">
                    <h2 style="font-family:Pathway Gothic One; margin-top:6px">Velocity 360</h2>
                </a>
            </div>
            <nav class="col--md-9 col-sm-9 col-xs-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <h1 style="font-family:Pathway Gothic One;margin-top:6px;color:#fff">Velocity 360</h1>
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">Courses<i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="/tutorials">Tutorials</a></li>
                                <li><a href="/courses">Live</a></li>
                            </ul>
                        </li>
                        <li><a href="/">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>