<div class="col-md-6">
    <div class="box_style_3" id="general_facilities">
        <h3>Premium Membership</h3>
        <p style="margin-top:12px;padding-top:12px;border-top:1px solid #ddd">
            Join as a premium member for $19.99 each month and receive unlimited access to all tutorials, 
            code samples, and forums on the site. There are no long term commitments and membership 
            can be canceled at any time.
        </p>

        <ul class="list_ok">
            <li>Downloadable Code Samples</li>
            <li>Downloadable Videos</li>
            <li>Q&amp;A Forum Access</li>
            <li>Discounts on Live Courses</li>
        </ul>
        <button style="height:36px;border-radius:18px;margin-top:12px" onClick="register(event, 'premium')" class="btn_1 white" href="#">Subscribe</button>
    </div>
</div>