<div style="padding:15px 15px">
    <img src="/img/slack.png" /> 
    <p style="margin-top:12px">
        Join our Slack channel to ask questions about tutorials, get feedback on 
        your code and to discuss general programming and industry topics: 
    </p>
    <div id="message-newsletter_2"></div>
    <div class="form-group">
        <input type="text" id="name" placeholder="Name" class="form-control" /><br />
        <input  type="text" id="email" placeholder="Email" class="form-control" />
    </div>
    <button onClick="slackRequest(event)" class="btn_1 white">Join</button>
</div>
