<!DOCTYPE html>
<html>
  <head>
  	{{>head}}
  </head>

  <body class="stretched side-header" style="background-color: #F5F5F5">
  	<div id="wrapper" class="clearfix">
  		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
    <script charSet="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  </body>


</html>
