<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    {{>head}}
</head>

<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div class="layer"></div>
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    {{>nav}}

    <div class="parallax-window" id="booking" data-parallax="scroll" data-image-src="/img/hackathon.jpg" data-natural-width="1281" data-natural-height="600">
        <div class="promo_full_wp">
            <div style="padding-top:164px">
                <div style="background:rgba(0,0,0,0.7);max-width:650px;margin:auto;padding:24px">
                    <h3>
                        Upcoming Courses
                        <span style="line-height:32px">Learn Node, React, and Redux in<br />Our Part Time Evening Courses</span>
                    </h3>
                    <button style="height:36px;border-radius:18px" class="btn_1 white">Learn More</button>
                </div>
            </div>
        </div>
    </div>

    {{#courses}}

    <div class="container_styled_1" style="border-bottom:1px solid #ededed">
        <div class="container margin_60">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <figure class="room_pic">
                        <a href="/course/{{slug}}">
                            <img src="https://media-service.appspot.com/site/images/{{image}}?crop=260" alt="Velocity 360" class="img-responsive" />
                        </a>
                    </figure>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="room_desc_home">
                        <h3><a href="/course/{{slug}}">{{title}}</a></h3>
                        <p>{{preview}}</p>
                        <a href="/course/{{slug}}" class="btn_1 white">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/courses}}


    <div class="container margin_60">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-md-push-5">
                <figure class="room_pic left">
                    <a href="#"><img src="/img/wework.jpg" alt="Velocity 360" class="img-responsive" /></a>
                </figure>
            </div>
            <div class="col-md-4 col-md-offset-1 col-md-pull-6">
                <div class="room_desc_home">
                    <h3>NYC</h3>
                    <p>
                        Our live courses take place in New York City at our 28th Street and Park Avenue 
                        location. Taught by professional developers who currently work in the field, the courses 
                        are always up-to-date and maintain highly relevant curriculum. In addition, our classes 
                        are small (6-10 students) and personal.
                    </p>
                    <ul>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item">
                                    <a target="_blank" href="https://velocity-360.slack.com"><i class="icon-chat"></i></a>
                                </span>
                                <div class="tooltip-content">
                                    Live Forum
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item">
                                    <a target="_blank" href="https://www.meetup.com/velocity360/"><i class="icon-meetup"></i></a>
                                </span>
                                <div class="tooltip-content">
                                    Events in NYC
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    {{>footer}}
    {{>javascripts}}
</body>
</html>