<!DOCTYPE html>
<html>
  <head>
  	{{>head}}
    <title>Velocity 360 | Node, React Coding Bootcamp</title>
    
  </head>

  <body class="stretched side-header" style="background-color: #F5F5F5">
  	<div id="wrapper" class="clearfix">
		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
