<!DOCTYPE html>
<html>
  <head>
  	{{>head}}

  	<meta property="og:title" content="Intro to React" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.fullstack360.com/events" />
    <meta property="og:image" content="http://www.fullstack360.com/images/react-360.png" />
    <meta property="og:description" content="React is a cutting edge view library developed by Facebook and Instagram. It is tremendously growing in popularity and is clearly the future of front end development. Come learn how React and Redux works behind the scenes in this 2-hour intro demo." />

  </head>

  <body class="stretched">
  	<div id="wrapper" class="clearfix">
  		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
