<!DOCTYPE html>
<html>
  <head>
  	{{>head}}
  </head>

  <body class="stretched">
  	<div id="wrapper" class="clearfix">
		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
