<!DOCTYPE html>
<html>
  <head>
  	{{>head}}

	<meta property="og:title" content="FullStack 360" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.fullstack360.com" />
    <meta property="og:image" content="http://www.fullstack360.com/images/logo_round_blue_260.png" />
    <meta property="og:description" content="FullStack 360 conducts development courses that are relevant in the startup and tech world today. We focus on the most up-to-date frameworks and libraries such as React, Angular, and Node JS. Our students are always prepared for rapid changes in the industry and are ready to work in tech after a course." />

  </head>

  <body class="stretched">
  	<div id="wrapper" class="clearfix">
		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
