<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Velocity 360 | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme-gunmetal.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>

    <body class="scroll-assist">
        <div class="nav-container">
            <nav class="nav-centered">
                <div class="text-center">
                    <a href="index.html">
                        <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png" />
                        <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png" />
                    </a>
                </div>
                <div class="nav-bar text-center">
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group text-left">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <span class="title">Inner Pages</span>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-1.html">About Us 1</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-2.html">About Us 2</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-3.html">About Us 3</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Elements</a></li>
                            </ul>
                        </div>
                        <!--end of menu module-->                       
                        
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>

        <div class="main-container">
            <section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
                <ul class="slides">
                    <li class="overlay image-bg pt160 pb160 pt-xs-120 pb-xs-120">
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="/img/girls.jpg">
                        </div>
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h2 class="mb40 uppercase">Bold, Vibrant, You.</h2>
                                    <a class="btn btn-lg" href="#">Explore Collection</a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                </ul>
            </section>

            <section style="background-color: #f9f9f9">
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-sm-5">
                            <h3>Join us for a day of<br /> ideas &amp; discussion.</h3>
                            <p class="lead mb40" style="font-weight:100">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="overflow-hidden mb32 mb-xs-24">
                                <i class="ti-package icon icon-sm pull-left"></i>
                                <h6 class="uppercase mb0 inline-block p32">All Inclusive Package</h6>
                            </div>
                            <div class="overflow-hidden mb32 mb-xs-24">
                                <i class="ti-medall-alt icon icon-sm pull-left"></i>
                                <h6 class="uppercase mb0 inline-block p32">Foundry Club Access</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-table pt-1 text-center emphasis" style="border:1px solid #ddd">
                                <H5 class="uppercase">Admit One</H5>
                                <span class="price">$89</span>
                                <p class="lead">Per Ticket</p>
                                <a class="btn btn-white btn-lg" href="#">Purchase Ticket</a>
                                <p>
                                    <a href="#">Contact Us for</a>
                                    <br /> large ticket volumes
                                </p>
                            </div>
                            <!--end of pricing table-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section>
                <div class="container">
                    <div class="row mb0 mb-xs-24">
                        <div class="col-sm-12 text-center">
                            <h3>Strap yourself in for ideas</h3>
                            <p class="lead">
                                Prepare for a full day of discussion from some of the web's best and brightest.
                            </p>
                        </div>
                    </div>


                    <!--end of row-->                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs thirds mb64 mb-xs-24">
                                    <li class="active">
                                        <div class="tab-content text-left">
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="img/avatar1.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">9:30am - 10:30am</h6>
                                                        <h4>Alice French - E-Commerce & Fashion</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                                </p>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="img/avatar2.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">11:00am - 12:00pm</h6>
                                                        <h4>Luke Hess - Better Selling Technique</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                </p>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="img/avatar2.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">11:00am - 12:00pm</h6>
                                                        <h4>Luke Hess - Better Selling Technique</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                </p>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="img/avatar2.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">11:00am - 12:00pm</h6>
                                                        <h4>Luke Hess - Better Selling Technique</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                </p>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>

                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <a class="btn btn-lg" href="#">Explore Tutorials</a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>

                    </div>
                    <!--end of row-->

                </div>
            </section>
            
            
            <section class="pt96 bg-secondary">
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                            <h2 class="mb40 uppercase">Bold, Vibrant, You.</h2>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row masonry masonryFlyIn">
                        <div class="col-md-4 col-sm-12 masonry-item mb30">
                            <div class="feature boxed mb0">
                                <h2 class=" color-primary mb0">80+</h2>
                                <h6 class="uppercase color-primary">Page Templates</h6>
                                <p>
                                    Pre-made HTML page templates including fully realized shop, blog and portfolio layouts.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 masonry-item mb30">
                            <div class="boxed feature mb0">
                                <i class="icon ti-infinite color-primary inline-block mb0"></i>
                                <h6 class="uppercase color-primary">Layout Possibilities</h6>
                                <p>
                                    With tons of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 masonry-item mb30">
                            <div class="boxed feature mb0">
                                <h2 class=" color-primary mb8">Concepts</h2>
                                <h6 class="uppercase color-primary">Kickstart your project</h6>
                                <p>
                                    Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="bg-secondary">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="feature boxed bg-secondary">
                        <form class="text-center form-email" data-error="There were errors, please check all required fields and try again" data-success="Thanks for taking the time to complete the planner. We'll be in touch shortly!">
                            <h4 class="uppercase mt48 mt-xs-0">Plan your Foundry project</h4>
                            <p class="lead mb64 mb-xs-24">
                                Share a little detail about your project so we<br /> can tailor the solution that's right for you.
                            </p>
                            <div class="overflow-hidden">
                                <div class="col-sm-6 col-sm-offset-3">
                                <input type="text" name="name" style="background:#ededed" placeholder="Name*" />
                                <input type="text" name="email" style="background:#ededed" placeholder="Email*" />
                                    <button type="submit">Submit Planner</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>


            <section class="pt40 pb40 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 text-center">
                            <img alt="Logo" style="max-width:180px" class="logo" src="/img/logo-light.png" />
                        </div>

                        <div class="col-sm-3 text-center pt8">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt icon icon-sm"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                                <input type="text" name="email" class="mb24" placeholder="Email Address" />
                                <button type="submit" class="mb24">Join Newsletter</button>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/masonry.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/ytplayer.min.js"></script>
        <script src="/js/countdown.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>