<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Velocity 360 | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/dist/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </head>

    <body class="scroll-assist">
        <div id="app">{{{react}}}</div>

        <script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
        <script type="text/javascript" src="/dist/vendor.min.js"></script>
        <script type="text/javascript" src="/dist/bundle.js"></script>
    </body>
</html>