<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Velocity 360 | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/dist/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </head>

    <body class="scroll-assist">
        <div id="app">{{{react}}}</div>

<!-- Tamboo Code -->
<script>
(function(t,a,m,b,o,e,v){if(t[o])return;t[o]=function(){t[o].a=t[o].a||[];
t[o].a.push(arguments);};t[o].l=Date.now();t[o].v=1.0;t[o].s=b;e=a.createElement(m);
v=a.getElementsByTagName(m)[0];e.async=1;e.src=b;v.parentNode.insertBefore(e,v);
})(window,document,'script','https://js.gettamboo.com/agent.min.js','tamboo');
tamboo('init', '58982a9e3ae39d001072c79d');
</script>
<!-- End Tamboo Code -->

        <script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
        <script type="text/javascript" src="/dist/vendor.min.js"></script>
        <script type="text/javascript" src="/dist/bundle.js"></script>
    </body>
</html>