<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>

</head>

<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div id="app">{{{react}}}</div>

    <script>window.__PRELOADED_STATE__ = {{{preloadedState}}} </script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
</body>
</html>