<!DOCTYPE html>
<html>
  <head>
  	{{>head}}

  	<meta property="og:title" content="Programming Workshop" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.fullstack360.com" />
    <meta property="og:image" content="http://www.fullstack360.com/images/ios-260.jpg" />
    <meta property="og:description" content="Watch how the full stack comes together in this 2-hour demo. We will build and deploy a simple Node JS backend. Then we will create an iPhone app that queries the API and renders data in a table. This is a true full stack demo which involves several technologies." />

    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <body class="stretched" onLoad="trackVisit()">
  	<div id="wrapper" class="clearfix">
  		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
