<!DOCTYPE html>
<html>
  <head>
  	{{>head}}
  </head>

  <body class="stretched side-header" style="background-color: #F5F5F5">
  	<div id="wrapper" class="clearfix">
		  <div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
