<!DOCTYPE html>
<html>
  <head>
  	{{>head}}

    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <body class="stretched">
  	<div id="wrapper" class="clearfix">
  		<div id="app">{{{react}}}</div>
  	</div>

  	{{>imports}}
  </body>


</html>
