<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Velocity 360" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/one-page/css/et-line.css" type="text/css" />

  <!--  Pricing Tables Style  -->
  <link rel="stylesheet" href="/css/components/pricing-table.css" type="text/css" />

  <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
    <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <title>Velocity 360</title>   
    
    <meta property="og:title" content="{{ tags.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ tags.url }}" />
    <meta property="og:image" content="{{ tags.image }}" />
    <meta property="og:description" content="{{ tags.description }}" />

  </head>

  <body class="stretched  no-transition">
    <div id="app">{{{react}}}</div>

    {{>imports}}
  </body>


</html>
