<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    {{>head}}
</head>

<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div class="layer"></div>
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    {{>nav}}

    <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="/img/joe_light_blue.png" data-natural-width="1400" data-natural-height="350">
        <div id="subheader">
            <h1>Tutorials</h1>
        </div>
    </section>

    <div id="tutorials" class="container margin_60_35" style="padding-top:64px">

        <div class="row">
            <div class="col-md-3" id="sidebar">
                <div class="theiaStickySidebar">
                    <div id="faq_box">
                        <ul id="cat_nav">
                            <li><a onClick="selectCategory(event, 'all')" href="#" class="active">All</a></li>
                            <li><a onClick="selectCategory(event, 'fullstack')" href="#">Fullstack</a></li>
                            <li><a onClick="selectCategory(event, 'node')" href="#">Node</a></li>
                            <li><a onClick="selectCategory(event, 'react')" href="#">React</a></li>
                            <li>{{>slack}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <h3 id="selected" class="nomargin_top">ALL</h3>
                <hr />
                <div class="panel-group" id="courses">
                    <div class="row">
                        <div class="col-md-9">

                            {{#tutorials}}
                            <div class="review_strip_single" id="{{category}}">
                                <img alt="Pic" class="img-circle" src='https://media-service.appspot.com/site/images/{{image}}?crop=68' />
                                <small> - {{numUnits}} -</small>
                                <h4><a href="/tutorial/{{slug}}">{{title}}</a></h4>
                                <p>{{preview}}</p>
                                <div style="text-align:right">
                                    <a href="/tutorial/{{slug}}" style="height:36px;border-radius:18px;margin-top:12px;padding-top:9px" class="btn_1 white">View</a>
                                </div>
                            </div>
                            {{/tutorials}}

                        </div>
                    </div>
                </div>

                <h3 class="nomargin_top">Subscribe</h3>
                <hr />
                <div class="panel-group" id="subscribe">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="box_style_3" id="general_facilities">
                                <h3>Premium Membership</h3>
                                <p style="margin-top:12px;padding-top:12px;border-top:1px solid #ddd">
                                    Join as a premium member for $19.99 each month and receive unlimited access to all tutorials, 
                                    code samples, and forums on the site. There are no long term commitments and membership 
                                    can be canceled at any time.
                                </p>

                                <ul class="list_ok">
                                    <li>Downloadable Code Samples</li>
                                    <li>Downloadable Videos</li>
                                    <li>Q&amp;A Forum Access</li>
                                    <li>Discounts on Live Courses</li>
                                </ul>
                                <button style="height:36px;border-radius:18px;margin-top:12px" onClick="register(event, 'premium')" class="btn_1 white" href="#">Subscribe</button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="box_style_3" id="general_facilities">
                                <h3>Basic Membership</h3>
                                <p style="margin-top:12px;padding-top:12px;border-top:1px solid #ddd">
                                    Join as a basic member to gain access to the free tutorials, get notifications when 
                                    new tutorials and courses are published, and participate in the Q&amp;A forums.
                                </p>
                                <input style="margin-top:12px" onChange="updateVisitor(event)" class="form-control" type="text" id="username" placeholder="Username" />
                                <input style="margin-top:12px" onChange="updateVisitor(event)" class="form-control" type="text" id="email" placeholder="Email" />
                                <button style="height:36px;border-radius:18px;margin-top:12px" onClick="register(event, 'basic')" class="btn_1 white">Subscribe</button>
                            </div>
                        </div>

                    </div>
                </div>

                    
            </div>
        </div>
    </div>  
  
    {{>footer}}
    {{>javascripts}}
</body>
</html>