<!DOCTYPE html>
<html>
  <head>
  	{{>head}}
    <title>Velocity 360 | {{ tags.title }}</title>

    <meta property="og:title" content="{{ tags.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ tags.url }}" />
    <meta property="og:image" content="{{ tags.image }}" />
    <meta property="og:description" content="{{ tags.description }}" />
  </head>

  <body class="stretched" style="background-color: #f9f9f9">
    <div id="app">{{{react}}}</div>

    {{>imports}}
    <script charSet="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  </body>


</html>
